<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1547010427-45f4b5a8092f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=839&q=80);">
  <div class="container">
    <div class="container-profile">
      <div class="profile-card">
        <div>
          <h1 class="profile-header"> Profile Page </h1>
          <div class ="profile-details">
            <h2><strong>Name:</strong> <%= @user.name %> </h2>
            <h2><strong>Email:</strong> <%=  @user.email %>  </h2>
          </div>
        </div>
        <div id="profile-avatar">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier" %>
        </div>
      </div>
    </div>
  </div>
</div>
