

<div class="container">
  <h1>Show all my Vehicles</h1>
</div>
<div class="container1">
  <div class="cards vehicle-cards">
    <% current_user.vehicles.each do |vehicle| %>
    <%= render './shared/card', vehicle: vehicle %>
    <% end %>
    </div>
</div>







