


<div class="container-profile">
  <div class="profile-card">

    <div>
    <h1 class="profile-header"> Profile Page </h1>
      <div class ="profile-details">
        <h2><strong>Name:</strong> <%= @user.name %> </h2>
        <h2><strong>Email:</strong> <%=  @user.email %>  </h2>
      </div>
    </div>
    <div id="profile-avatar">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier" %>
    </div>
  </div>
</div>


