.booking-card {
  display: flex;
  justify-content: space-around;

}

#photo-vehicle img{
  width: 60%;
  margin: 50px;
  float: right;
}

.booking-details {
padding-top: 42px;

}

.booking-details p {
  margin: 40px 0px;
}
