.bookings_list {
  border: 1px solid #dce0e0;
  padding: 0 20px;
  margin: 0;
}
.booking {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}
.booking:last-child {
  border-bottom: none;
}
.booking-body {
  flex-grow: 1;
}
.booking-name {
  padding-left: 10px;
  min-width: 100px;
}
.booking-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
}
.booking-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
  color: black;
}
.booking-body {
  padding-left: 10px;
  font-size: 13px;
  color: black;
}
.booking-body {
  padding-left: 20px;
  color: black;
}
.booking-body strong{
  color: black;
}
.booking-body p {
  margin: 6px 0;
  color: black;
}
.booking-status p {
  font-size: 14px;

}

.booking-action a {
  padding-left: 40px;
  color: #C59E8F;

}
.status.accepted {
  color: #6CB5D8;
}
.status.declined {
  color: #BDBDBD;
}
.status.pending {
  color: #EE5557;
}

.tabs {
  display: flex;
  align-items: center;
  color: black;
}
.tab {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  opacity: 0.3;
  border-bottom: 5px solid transparent;
  text-decoration: none;
  color: black;
}
.tab:hover {
  opacity: 1;
  color: #EE5557;
}
.tab.active {
  opacity: 1;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  color: #EE5557;
  border-bottom: 5px solid #00A699;
}

.tab.inactive {
  opacity: 1;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;

}

.avatar-large {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.text-center {
  text-align: center;
}
.container-booking {
  color: #EE5557;
  background-color: #F4F4F4;
  opacity: 0.95;
  border-radius: 5px;
  padding: 15px 8px;

  body {
  color: black;
  margin: 0;
  font-size: 10px;
  margin-bottom: 100px;
  font-family: 'Varela Round', sans-serif;
}
}

.vehicle_small {
margin: 5px 50px;
height: 60px;
width: 70px;
border-radius: 5px;
}

.show_booking {
}

.hide_booking {
display: none;
}
#color-black {
  color: black;
}

#renter-tab {
  color: black;
}

#owner-tab {
  color: black;
}

#title-booking {
  color: black;
}

