.booking-card {
  display: flex;
  justify-content: space-around;

}

#photo-vehicle img{
  background-size: cover;
  background-position: center;
  align-items: center;
  height: 50%;
  position: relative;
  display: flex;
  justify-content: center;

}

.booking-details {
padding-left: 42px;
padding-right: 100px;
position: absolute;
text-align: left;
top: 135px;
right: 164px;
background: white;
border-radius: 5px;
font-size: 20px;
background-color: rgba(0,0,0,0.3);

}

.booking-details p {
  margin: 40px 0px;
  font-size: 30px;
}

.booking-details h1{
color: black;

}
