.booking-card {
  display: flex;
  justify-content: center

}



.booking-details {
border-radius: 5px;
padding: 5%;
}

.booking-details p {
  font-size: 30px;
  color: black;
}

.booking-details h1{
color: #EE5557;

}
.bg-show-vehicle {
  border-radius: 5px;
  font-size: 15px;
  background-color: white;
  opacity: 0.96;
  height: 50vh;
  display: flex;
  align-items: center;

img{
  background-size: cover;
  background-position: center;
  align-items: center;
  height: 50%;
  border-radius: 5px;
  opacity: 1;
}

}
