.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-links a {
  color: #74797B;
  opacity: 0.60;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {

}

.footer-styling {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  padding: 0px 50px;
  color: #74797B;
}
