<div class="container">
  <h1>Show all <%= params[:category].capitalize %>s</h1>
  <div class="cards vehicle-cards">
    <% @vehicles.each do |vehicle| %>
      <%= render './shared/card', vehicle: vehicle %>
    <% end %>
  </div>
</div>
